<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; background-color: white;
      margin: 0; padding: 0; } .container { max-width: 600px; margin: 0 auto;
      padding: 20px; background-color: white; border-radius: 10px; } .header {
      text-align: center; padding: 20px; background-color: #4caf50; color: #fff;
      border-radius: 10px 10px 0 0; } .otp { font-size: 24px; color: #333;
      font-weight: bold; text-align: center; margin: 30px 0; } .footer {
      text-align: center; padding: 20px; font-size: 20px; color: #fff;
      background-color: #43a047; border-radius: 0 0 10px 10px;} .link { display:
      inline-block; text-decoration: none; background-color: #4caf50; color:
      #fff; font-weight: bold; padding: 12px 24px; border-radius: 6px;
      text-align: center; margin: 20px auto; font-size: 16px; } .link:hover {
      background-color: #43a047; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>{{title}}</h1>
      </div>
      <p style="color: black;">Hello, {{username}}</p>
      <p style="color: black;">{{message}}:</p>
      <div class="otp">{{otp}}</div>
      <div style="text-align:center">
        <a href={{link}} class="link" style="color: white;">Reset "{{username}}"
          Password</a>
      </div>
      <p style="font-weight: bold; color:red; font-size: 16px;">If you didn't
        request this, please ignore this email</p>
      <div class="footer">
        <p style="color: white">Thank you for using our services!.</p>
        <p style="text-align:center; color: white; font-size: 16px;">
          Sent at
          {{time}}
        </p>
      </div>
    </div>
  </body>
</html>